In [12]:
import numpy as np
import pandas as pd

## DataTypes & Attributes

In [13]:
#Numpy's main datatype is ndarray
a1 = np.array([1,2,3])
type(a1)

numpy.ndarray

In [14]:
a2 = np.array([[1,2.3,3.2],
                 [4,5,6]])

a3 = np.array([[[1,2,3],
                 [4,5,6],
                 [7,8,9]],
                [[10,11,12],
                [13,14,15],
                [16,17,18]]])

In [15]:
a3 #3-dimensional shape=(3,3)

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [16]:
a3.shape #axis1 = row, axis2=columns, axis3 = n-dimensions

(2, 3, 3)

In [17]:
a1.ndim , a2.ndim ,a3.ndim

(1, 2, 3)

In [19]:
#Create a Datafrme from a numpy
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.3  3.2
1  4.0  5.0  6.0

## Creating Arrays

In [21]:
array = np.arange(1,10,2)
array

array([1, 3, 5, 7, 9])

In [25]:
rand = np.random.randint(0,10, size=(3,5))
rand

array([[6, 3, 6, 0, 6],
       [6, 5, 6, 5, 1],
       [9, 9, 9, 9, 3]])

In [26]:
rand.size

15

In [27]:
rand.shape

(3, 5)

In [30]:
arr2 = np.random.random((5,3,2))
arr2

array([[[0.84800806, 0.68465475],
        [0.65738305, 0.42920319],
        [0.5508889 , 0.77541964]],

       [[0.38760559, 0.87690851],
        [0.63042746, 0.2331202 ],
        [0.82650016, 0.52057118]],

       [[0.97947693, 0.46656394],
        [0.63656738, 0.90263652],
        [0.86171848, 0.30093323]],

       [[0.0408388 , 0.86790912],
        [0.41016407, 0.19431707],
        [0.72940272, 0.78588411]],

       [[0.31871637, 0.52399271],
        [0.21923722, 0.23208012],
        [0.71418138, 0.57982066]]])

In [33]:
#Pseudo-random numbers
np.random.seed(seed=0) #seed fixed the random numbers
rand_arr_1 = np.random.randint(10,size=(5,3))
rand_arr_1

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [39]:
np.random.seed(5)
rand_arr_2 = np.random.random((5,3))
rand_arr_2

array([[0.22199317, 0.87073231, 0.20671916],
       [0.91861091, 0.48841119, 0.61174386],
       [0.76590786, 0.51841799, 0.2968005 ],
       [0.18772123, 0.08074127, 0.7384403 ],
       [0.44130922, 0.15830987, 0.87993703]])

In [40]:
a3[:2,:2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [41]:
a4 = np.random.randint(10, size=(2,3,4,5))
a4

array([[[[4, 6, 2, 9, 9],
         [9, 9, 1, 2, 7],
         [0, 5, 0, 0, 4],
         [4, 9, 3, 2, 4]],

        [[6, 9, 3, 3, 2],
         [1, 5, 7, 4, 3],
         [1, 7, 3, 1, 9],
         [5, 7, 0, 9, 6]],

        [[0, 5, 2, 8, 6],
         [8, 0, 5, 2, 0],
         [7, 7, 6, 0, 0],
         [8, 5, 5, 9, 6]]],


       [[[4, 5, 2, 8, 8],
         [1, 6, 3, 4, 1],
         [8, 0, 2, 2, 4],
         [1, 6, 3, 4, 3]],

        [[1, 4, 2, 3, 4],
         [9, 4, 0, 6, 6],
         [9, 2, 9, 3, 0],
         [8, 8, 9, 7, 4]],

        [[8, 6, 8, 0, 5],
         [3, 4, 0, 2, 2],
         [1, 1, 7, 1, 7],
         [2, 6, 3, 6, 8]]]])

In [42]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [44]:
#Get the first 4 numbers of inner most array
a4[:,:,:,:4]

array([[[[4, 6, 2, 9],
         [9, 9, 1, 2],
         [0, 5, 0, 0],
         [4, 9, 3, 2]],

        [[6, 9, 3, 3],
         [1, 5, 7, 4],
         [1, 7, 3, 1],
         [5, 7, 0, 9]],

        [[0, 5, 2, 8],
         [8, 0, 5, 2],
         [7, 7, 6, 0],
         [8, 5, 5, 9]]],


       [[[4, 5, 2, 8],
         [1, 6, 3, 4],
         [8, 0, 2, 2],
         [1, 6, 3, 4]],

        [[1, 4, 2, 3],
         [9, 4, 0, 6],
         [9, 2, 9, 3],
         [8, 8, 9, 7]],

        [[8, 6, 8, 0],
         [3, 4, 0, 2],
         [1, 1, 7, 1],
         [2, 6, 3, 6]]]])

In [45]:
a4[:,:,:,:2]

array([[[[4, 6],
         [9, 9],
         [0, 5],
         [4, 9]],

        [[6, 9],
         [1, 5],
         [1, 7],
         [5, 7]],

        [[0, 5],
         [8, 0],
         [7, 7],
         [8, 5]]],


       [[[4, 5],
         [1, 6],
         [8, 0],
         [1, 6]],

        [[1, 4],
         [9, 4],
         [9, 2],
         [8, 8]],

        [[8, 6],
         [3, 4],
         [1, 1],
         [2, 6]]]])